* {
    margin: 0;
    padding: 0;
}

.texto-banner{
    text-align: center;
}

img.avatar {
    width: 20%;
    border-radius: 50%;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

main h1{
    display: inline;
}

main h2{
    display: inline;
}

main button{
    font-size: 0px;
    opacity: 0.8;
    aspect-ratio: 10/8;
    /* width: auto; */
    height: 45vh;
    border-radius: 5px;
    background-color: rgb(80, 146, 161);
    /* margin-right: 30px; */
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.3);
    position:relative;
    right: 0vw;
    transition: 0.3s;
    padding-top: 50%;
    display: table;
    margin: 0 auto;
    color:black; 
    font-weight: 400;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

main .botonQR{
    background-image: url("../img/QR-Code-icon.png");
}

main .botonNoQR{
    background-image: url("../img/lostPet_icon.png");
}

main .botonNoQR-mobile{
    width: 70vw;
    background-image: url("../img/lostPet_icon.png");
}

main .botonQR-mobile{
    width: 70vw;
    background-image: url("../img/QR-Code-icon.png");
}

main button:hover{
    font-size: 1.7vw;
    opacity: 1;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.7);
    padding-top:39vh;
}

main button h3{
    font-size: inherit;
    color: inherit;
    font-weight: 400;
}

main button h3:hover{
    font-size: inherit;
    color: inherit;
}

main h1.underlineable{
    text-decoration: underline;
    text-underline-offset: 10px;
}

.container input{
    margin-bottom: 30px;
    margin-top: 3px;
}

