<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="shortcut icon" href="../img/LogoProvisorio.png"/>
    <script src="https://kit.fontawesome.com/7fcb757e78.js" crossorigin="anonymous"></script>
    
    <title>Login - Pantalla</title>
</head>

<body>
    <header>
        <h1 class="texto-banner">PATITAS AL RESCATE</h1>

        <div class="imgcontainer">
            <img src="../img/login.jpg" alt="Avatar" class="avatar">
        </div>
    </header>

        <div class="container">
            <label for="uname"><b>Usuario</b></label>
            <input type="text" placeholder="Usuario" name="uname"  class="form-control">

            <label for="psw"><b>Contraseña</b></label>
            <input type="password" placeholder="Contraseña" name="psw"  class="form-control">

            <div class="row">
                <div class="col">
                    <span class="psw"> <a href="#">Olvidaste tu Contraseña?</a></span>
                </div>
            </div>
            <br>
            <div class="align-buttons">
                <a href=""><button class='button-center' type="submit">Registrate</button></a>
                <button class='button-center' type="submit">Ingresar</button>
            </div>
        </div>


</body>

</html>